* {
  box-sizing: border-box;
  margin:0;
}

body {
   /* font-family: 'Hind', sans-serif;   */
   background-color: white; 
  color: black;
  /* background-image: url(../assets/mathematics.jpg); */
  background-repeat: no-repeat;
	background-size: cover;
  background-position: 50% 25%;
  background-attachment: fixed;

}

  .heading {
  background-image: url(../assets/mathematics.jpg); 
  background-repeat: no-repeat;
	background-size: cover;
  background-position: 50% 25%;  */
  background-color: black;
  overflow: hidden;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:100;
  color: white;
  text-shadow: 0 0 15px #1c57ff;
  height: 150px;
  text-align: center;
} 

#sign-in {
  text-align: right;
  margin-right: 20px;
}

th.changeable.name {
  font-weight: normal;
}

#sign-in button {
  height:22px;
  background-color:#1c57ff;
  color: white;
}

a {
  color: #1c57ff;
  text-shadow: 0 0 0 20px white;
}

.heading h1 {
  font-size: 80px;
  margin-top: 5px;
  font-family: 'Sedgwick Ave Display', cursive;
}

h2, h3, caption {
  margin: 0;
  text-shadow: 0 0 15px #1c57ff;
}

h2 {
  font-family: 'Montserrat Alternates', sans-serif;
  clear: left;
  display: inline-block;
}

h3, caption {
  font-family:'Sedgwick Ave', cursive;
}

.income-data {
  width: 50%;
  height:213px;
  margin: 0 auto;
  text-align: center;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 0 3px 8px 0 #1c57ff;
  padding-top: 10px;
  background-color: black;
  color:white;
}

.container {
    width: 50%;
    margin: 0 auto;
    margin-top: 5px;
}

.table {
  width: 50%;
  margin: 0 auto;
}

main {
  padding-top:150px;
}

th, td {
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
}

input {
  border-radius: 5px;
}

.button {
  border: none;
}

button {
  height:30px;
  border-radius: 5px;
  background-color: white;
}

.welcome {
  text-align:left;
  float:left;
  margin-left: 20px;
}

.hidden {
  display: none;
}

td{
  height:100%;
}

.pay-it .undo{
  height:100%;
  width:100%;
}

[contenteditable="true"] {
    white-space: nowrap;
    overflow: hidden;
} 
[contenteditable="true"] br {
    display:none;

}
[contenteditable="true"] * {
    display:inline;
    white-space:nowrap;
}

.dollar {
  display: inline-block;
  vertical-align: middle;
}

#income, #remaining-funds, #pay-day, #bills-paid {
  display: inline-block;
  vertical-align: middle;
}

.income-div{
  padding-top: 5px;
  padding-bottom: 5px;
}