* {
  box-sizing: border-box;
  margin:0;
}

.heading { 
  background-color: #0B00FF;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:100;
  color: white;
  box-shadow: 0 0 15px #303030;
  height: 50px;
  text-align: left;
}

.heading h1{
  font-family: 'Dhurjati', sans-serif;
}

#sign-in-button{
border-radius: 5px;
font-size: 20px;
}
/* @media screen and (max-width: 320px){
  .heading h2{
    font-size: 14px;
  }
} */
/* too many buttons, too much going on
make it more digestible
have the text as the landing page 
with a sign-in/sign-up option
break up text into bullet points
go for more eye candy on the front page
put text over semi-opaque background
full screen background image
high contrast when combining colors
make signup a button
have them below text
sign up page is very empty
make inputs bigger
space them out more
full screen background image
keep header consistent
move sign up header to above form
look into sign-up.sign in bug that doesnt let you sign in
project needs refinement
morgan is available for contact if any design questions
*/