body{
  font-family: 'Raleway', sans-serif;
}

ul {
  font-size: 24px;
  text-align: center;
  list-style: none;
  margin-top: 5px;
}

.heading { 
  overflow: hidden;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:100;
  color: white;
  box-shadow: 0 0 15px #1c57ff;
  height: 50px;
  text-align: left;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,100cff+100&0+0,0.65+100 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(16,12,255,0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(16,12,255,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(16,12,255,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6100cff',GradientType=0 ); /* IE6-9 */
}

.title h1{
  font-size: 35px;
}

.title h2{
  font-size: 20px;
}

.title h1, .title h2{
  display: inline-block;
  margin-top: 5px;
}

.explainer {
  margin-top: 105px;
  text-align: center;
  font-size: 32px;
  color: #3C3C3C;
  border-radius: 5px;
  box-shadow: 5px 5px 15px black;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,100cff+100&0+0,0.65+100 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(16,12,255,0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(16,12,255,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(16,12,255,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6100cff',GradientType=0 ); /* IE6-9 */
}

.explainer-text{
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  color: white;
}

.explainer h2{
  font-size: 28px;
  color: #424243;
}

#sign-up-submit{
  margin-top: 5px;  
  text-align: center;
  font-size: 26px;
  font-weight: bolder;
  color: #0B00FF;
  text-shadow: 0 0 15px white;
}

#sign-up-submit input{
  width: 100%;
  height: 50px;
  font-size: 30px;
  text-align: center;
}

#sign-up-submit button{
  height: 30px;
  font-size: 24px;
  border-radius: 5px;
  margin-top: 5px;
  color: #0B00FF;
}

#sign-in-button{
  position: fixed;
  top: 10px;
  right: 5px;
  height: 30px;
  border-radius: 10px;
  width: 150px;
}

#sign-up-here{
  text-align: center;
  background-color: white;
  color: #3C3C3C;
  border-radius: 25px;
  margin-top: 10px;
  height: 40px;
  font-size: 30px;
  margin-bottom: 0px;
}

#login-form{
  height: 90px;
  padding-top: 25px;
}

#login-form input{
  height: 40px;
  font-size: 24px;
  border-radius: 10px;
}

#login-form button{
  height: 40px;
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
}

.input-div{
  display: inline-block;
}

.button-container{
  height: 50px;
  position: absolute;
  top: 55px;
  margin-left: 41.67%;
}

.demo-mode{
  width: 100%;
  height:50px;
  border-radius: 10px;
  background-color: #0B00FF;
  margin-top: 2px;
  font-size: 24px;
  color: white;
}

/* @media screen and (max-width: 550px) {
  .title h1 {
    font-size: 18px;
  }

  .title h2 {
    font-size: 14px;
    display: block;
  }

  .explainer{
    margin-top: 60px;
    padding-right: 10px;
  }

  .demo-mode{
    top: 50px;
  }
} */